#board {
    width: 400px;
}

.highlight-legal::after {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    background-color: #7d634f;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.highlight-attack {
    box-shadow: inset 0 0 5px 5px rgba(138, 24, 2, 0.7);
}

.highlight-check {
    box-shadow: inset 0 0 6px 6px rgba(138, 24, 2, 0.7);
}

.highlight-move {
    box-shadow: inset 0 0 6px 6px rgba(86, 170, 193, 0.7);
}
